<%- include("partials/header", {pageTitle: "Cotton Candy Menu", cssFilename: "menu.css"}) %>
<div class="main-container">

    <h1>Our Menu</h1>

    <div class="menu-switch">
        <a class="bottom" href="/menu/icecream"><span>Cotton Candy</span><span>Ice Cream</span></a>
        <a class="top" href="#" style="right: 50%">Cotton Candy</a>
    </div>

    <div id="cottoncandy-options" class="sub-menu-buttons">
        <a class="characters-button" href="#character-container">Characters</a>
        <a class="tubs-button" href="#tub-container">Tubs</a>
        <a class="flavors-button" href="#flavor-container">Flavors</a>
    </div>

    <div class="menu-body" data-bs-spy="scroll" data-bs-target="cottoncandy-options" data-bs-smooth-scroll="true">
        <!-- Characters -->
        <div id="character-container" class="card-container">
            <div class="container-body">
                <% allCharacters.forEach((character) => { %>
                    <% var src = "/images/characters/" + character.id + ".jpg"; %>
                    <a class="card character-card" style="cursor: pointer;">
                        <img src=<%= src %> alt="character-img" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><%= character.data().name %></h5>
                            <p class="card-description d-none"><%= character.data().description %></p>
                            <p class="card-footer-p d-none"><%= character.data().flavors %></p>
                        </div>
                    </a>
                <% }) %>
            </div>
        </div>

        <!-- Tubs -->
        <div id="tub-container" class="card-container">
            <h5 class="container-header">Tubs last much longer than characters.</h5>
            <div class="container-body">
                <% allFlavors.forEach((flavor) => { %>
                    <% if (flavor.tubAvailable) { %>
                        <% var src = "/images/tubs/" + flavor.name + ".jpg"; %>
                        <div class="card">
                            <img src=<%= src %> alt="tub-img" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title"><%= flavor.name %></h5>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>

        <!-- Flavors -->
        <div id="flavor-container" class="card-container">
            <h5 class="container-header">All of our flavors.</h5>
            <div class="container-body">
                <% allFlavors.forEach((flavor) => { %>
                    <div class="card">
                        <div class="card-body">
                             <div class="flavor-color" id="<%= flavor.id %>"></div>
                             <h5 class="card-title"><%= flavor.name %></h5>
                        </div>
                    </div>
                <% }) %>
            </div>
            
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="characterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="modal-img img-fluid" src="" alt="">
                <p class="modal-description"></p>
            </div>
            <div class="modal-footer">
                <p class="modal-footer-p"></p>
            </div>
        </div>
        </div>
    </div>
</div>
<%- include("partials/footer", {jsFilename: "menu.js"}) %>