<%- include("partials/header", {pageTitle: "Menu", cssFilename: "menu.css"}) %>
<div class="main-container">
    <h1>Our Menu</h1>

    <div class="menu-buttons">
        <a class="cottoncandy-button menu-button-selected" href="/menu">Cotton Candy</a>
        <a class="icecream-button" href="/menu/icecream">Ice Cream</a>
    </div>

    <div class="sub-menu-buttons">
        <a class="characters-button menu-button-selected" href="/menu">Characters</a>
        <a class="tubs-button" href="#">Tubs</a>
        <a class="flavors-button" href="#">Flavors</a>
    </div>

    <div class="characters-container">
        <% allCharacters.forEach((character) => { %>
            <% var src = "/images/characters/" + character.id + ".jpg"; %>
            <a id="<%= character.id %>" class="card character-card" style="cursor: pointer;">
                <img src=<%= src %> alt="character-img" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><%= character.data().name %></h5>
                    <p class="character-description d-none"><%= character.data().description %></p>
                    <p class="character-flavors d-none"><%= character.data().flavors %></p>
                </div>
            </a>
        <% }) %>
    </div>
  
    <!-- Modal -->
    <div class="modal fade" id="characterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="modal-img img-fluid" src="" alt="">
                <p class="modal-description"></p>
            </div>
            <div class="modal-footer">
                <p class="modal-footer-p"></p>
            </div>
        </div>
        </div>
    </div>
</div>
<%- include("partials/footer", {jsFilename: "menu.js"}) %>