<%- include("partials/header", { pageTitle: "Wait Time", cssFilename: "waittime.css"}) %>
<div class="main-container">
    <div class="waittime-header">
        <h1>Live Wait Time</h1>
    </div>
    <div class="waittime-body">
        <div class="waittime-description">
            <p>It looks like <%= waittimeDescription %></p>
            <p>The wait time to order is approximately...</p>           
        </div>

        <img src="/images/logo_bear.png" alt="">
        <div class="waittime">
            <h2> <span id="hour"><%= waittimeObj.hour %></span> hour <span id="minute"><%= waittimeObj.minute %></span> minutes</h2>
            <p>Last updated <%= waittimeObj.lastUpdated %> minutes ago</p>
            <div class="actions">
                <a id="refresh" href="#"><i class="fa-solid fa-rotate-right fa-sm"></i> Refresh</a>
                <a id="view-menu" href="/menu/cottoncandy">View Menu <i class="fa-solid fa-arrow-right fa-sm"></i></a>
            </div>
        </div>

        <div class="waittime-faq">
            <h3>Did you know?</h3>
            <p>Wait time features are in beta and may not correctly reflect the actual wait time.</p>
            <p>The wait time depends on the number of groups ahead of yours and the items they order. We currently welcome walk-ins only. Unfortunately, we don't take reservations or offer deliveries. Also, no preorders or phone orders for our delightful cotton candy. Just swing by and enjoy the sweetness!</p>
            <p>Check out our FAQ page for more information.</p>
            <a href="/about">FAQ</a>
        </div>


    </div>
</div>
<%- include("partials/footer") %>
